/* GLOBAL */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    
    --white-text-color: #ffffff;
    --tranp-white-text-color:rgba(255, 255, 255, 0.6);
    --accent-color: #18A0FB;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}

.page {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;

    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.list {
    list-style: none;
}

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio-foot{
    color: var(--white-text-color);
}

.logo:hover,
.logo:focus {
    color: #000000;
}

a:link {
    text-decoration: none;
}


.list .item + .item {
 margin-left: 50px;
}

.nav.list:hover,
.nav.list:focus    {
    color: var(--accent-color);
}

.description {
    color: var(--secondary-text-color);
}

.nav-list li+li {
    margin-left: 50px;
}

.nav.list {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav.link {
    display: flex;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


.nav.link:hover,
.nav.link:focus {
    color: var(--accent-color);
}

/* HEADER */

.flex {
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    align-items: center;
}


.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-contacts-list {
    display: flex;
    margin-left: auto;
}

.nav-contacts-list li+li {
    margin-left: 50px;
}

.header {
height: 80px;
display: flex;
border-bottom: 1px;
border-color: #757575;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;

    /* outline: 2px solid orange; */
}

/* MAIN PAGE */
.hero {
    background-color: var(--secondary-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    /* text-align: center; */
}

.button {
    display: inline-block;
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
    min-width: 73px;
    min-height: 50px;

    font-family: inherit;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.btn-primary {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.btn-secondary {
    color: #212121;
    background-color: #F5F4FA;
}

.section {
     color: var(--primary-text-color); 
}

.section-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* features */


.feature-title {
    margin-top: 95px;
    margin-bottom: 10px;
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-description {
    margin-bottom: 95px;
    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.feature-list {
    display: flex;
}

.feature-list .item {
    width: 270px;
}

/*main we do*/
.wedo {
    display: flex;
}

.wedo li + li {
    padding-left: 30px;
    flex-wrap: wrap;
}

.wedo-photo {
    margin-bottom: 95px;
}

/*team*/
.team {
    padding-top: 95px;
    padding-bottom: 30px;
    background-color: #F5F4FA;
}

.team .list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
}

.team li+li {
    margin-left: 30px;
}

.team-li {
    text-align: center;
    background-color: #fff;
}

.team-photo {
    margin-bottom: 30px;
}

.team-title {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

}

.team-description{
    color: var(--secondary-text-color);

    /* font-weight: 400;
    font-size: 16px; */
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}


/* PORTFOLIO PAGE */
.projects-title {
    color:var(--primary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-left: 24px;
}

.filter {
    padding-top: 95px;
    padding-bottom: 95px;
}

.projects-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.projects-filter li+li {
    margin-left: 8px;
}

.projects-description {
    color:var(--secondary-text-color);

    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-left: 24px;

}

.portfolio-our-projects {
    display: flex;
    flex-wrap: wrap;
}

.projects-item a{
    border-bottom: 10px;
    border-color: #757575;
}

.projects-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.projects-item:not(:nth-last-child(-n + 3)){
    margin-bottom: 30px;
}


/* FOOTER */
.footer {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ADDRESS */
address {
    color: #000000;

    font-style: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    margin-top: 20px;

}

.physical {
    color: #000000;
    color: var(--white-text-color);
    margin-bottom: 9px;
}

.mail {
    color: #000000;
    color: var(--tranp-white-text-color);
    margin-bottom: 9px;
    display: inline-block;
}

.phone{
    color: #000000;
    color: var(--tranp-white-text-color);
    display: inline-block;
}

